<form action="/answer" data-turbo="false">
 <div class="mb-3">
   <input type="text" name="question">
   <button type="submit" class="btn btn-primary">Ask !</button>
 <div class="mb-3">
</form>


    <%# <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> %>
